#footer {
  padding: 0px;
  margin: 0px;  
  width: 100%;
  border: 2px solid silver;
}

#settingsList {
  overflow: auto;
  height: 310px;
}

#footer button {
  width: 49%;
}

.settings, .settings-pannel {
  border-top: 1px solid white;
  padding: 5px 15px;
  border-radius: 3px;  
}

.settings input {
  width: 15px;
}

.settings {
  display: flex;
}

.settings > .status-pannel {
  padding-left: 5px;
}



#settingsList button, #footer button {
  padding: 8px;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;
  background: #e5e7ec;
  transition: all 350ms linear;
}

#settingsList button:hover, #footer button:hover {
  background: #b8bdc9;
  color: white;
  cursor: pointer;
}

.buttonsHolder {
  display: flex;
  padding-bottom: 5px;
}

#panelsContainer {
  display: none;
}

.buttonsHolder > .button-push, .buttonsHolder > .button-pull, #clear-log, #expand-log {
  width: 50%;
}

input {
  width: 100%;
}
#footer {
  background: rgb(228, 228, 228);
}

#footer > .label {
  padding: 5px 15px;
}

.label {
  display: inline-flex;
  font-weight: 400;
  padding-right: 10px;
  width: 160px;
}

#controls {
  display: flex;
}

#setup {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.pulse {
  animation-name: color;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes color {
  0% {
    background-color: #e5e7ec;
  }
  50% {
    background-color: #b0c5e7;
  }
  100 {
    background-color: #222;
  }
}

/* Status */

statusOK {
  color: green;
}

statusError {
  color: red;
}

#logWrapper {
  position: absolute;
  height: 266px;
  width: 100%;
  top:407px;
  transition: all 500ms;
}

#body .logWrapperExpanded {
  height: 652px;
  top: 20px;
  width: 100%;
  bottom: 37px;  
}

#logWrapper button {
  padding: 5px;
}

#log {
  margin-top: 5px;
  overflow: auto;
  background: white;
  width: 100%;
  height: 100%;
}

